{% include 'core/base.html' %} 
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
<div class="prime">
  <div class="mainback">
    <h1>Trade Detail</h1>
    <div class="insidemain">
      <div class="main">
        <div class="mainit">
          <p><span>ID:</span> {{ data.trade_details.id }}</p>
          <p>
            <span>Buy/Sell Indicator:</span> {{data.trade_details.buy_sell_indicator }}
          </p>
          <p><span>Price: </span>{{ data.trade_details.price }}</p>
          <p><span>Quantity:</span> {{ data.trade_details.quantity }}</p>
          <p><span>Asset Class:</span> {{ data.asset_class }}</p>
          <p><span>Counterparty: </span>{{ data.counterparty }}</p>
          <p><span>Instrument ID: </span>{{ data.instrument_id }}</p>
          <p><span>Instrument Name: </span>{{ data.instrument_name }}</p>
          <p><span>Trade Date Time: </span>{{ data.trade_date_time }}</p>
          <p><span>Trade ID: </span>{{ data.trade_id }}</p>
          <p><span>Trader: </span>{{ data.trader }}</p>
        </div>
      </div>
      <center>
        <a href="{% url 'Home' %}" class="homepageit">Home Page</a>
      </center>
    </div>
  </form>
    {% comment %} {% for i in trade_detail %} {{i.label_tag}} {{i}} <br />
    <br />
    {% endfor %} {% endcomment %} {% comment %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="trade_id">Select Trade ID:</label>
        <select class="form-control" name="trade_id" id="trade_id">
          {% for trade in trades %}
          <option value="{{ trade.trade_id }}">{{ trade.trade_id }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endcomment %} 

  </div>
</div>
{% endblock content %}